<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Sentiment Analysis</h1>
        <p>This sentiment analysis website, built using TextBlob, analyzes the emotions behind the input text and provides a score from -100 (very negative, like “This is awful!”) to 100 (very positive, like “I love this!”). Sentiment analysis can have uses in bias spotting, stocks research, and artificial customer service.</p>
        <form method="post">
            <textarea name="user_text" placeholder="Enter your text here...">{{ request.form['user_text'] }}</textarea><br>
            <button type="submit">run</button>
            <button type="reset">clear</button>
        </form>

        {% if sentiment is not none %}
            <div class="result {{ sentiment_class }}">
                <p>The text is {{ sentiment_category }}, with a score of {{ sentiment }}.</p>
            </div>
        {% endif %}
    </div>
</body>
</html>
